<script id="games-panel" type="text/html">
	{% include 'games_panel.html' %}
</script>
<script id="editor-panel" type="text/html">
	{% include 'editor_panel.html' %}
</script>
<script id="account-panel" type="text/html">
	{% include 'account_panel.html' %}
</script>
<script id="about-panel" type="text/html">
	{% include 'about_panel.html' %}
</script>
<script id="play-panel" type="text/html">
	{% include 'play_panel.html' %}
</script>
<script id="players-editor" type="text/html">
	{% include 'players_editor.html' %}
</script>
<script id="spritesheet-editor" type="text/html">
	{% include 'spritesheet_editor.html' %}
</script>
<script id="layers-editor" type="text/html">
	{% include 'layers_editor.html' %}
</script>
<script id="properties-editor" type="text/html">
	{% include 'properties_editor.html' %}
</script>
<!-- property templates -->
<script id="oscillate-property" type="text/html">
	{% include 'properties/oscillate_property.html' %}
</script>
<script id="collector-property" type="text/html">
	{% include 'properties/collector_property.html' %}
</script>