<div class="row" data-bind="with:panel">
<div class="col-md-12 user-details">
	<div class="row details-panel">
		<div class="col-md-3 image-col">
			<div class="image-area">
				<div class="user-image-placeholder user-image" data-bind="visible:!image_url()">
					<i class="fa fa-user icon"></i>
				</div>
				<img src="" class="img-responsive img-thumbnail user-image" alt="Responsive image"
					 data-bind="visible:image_url(), attr:{ src:image_url }">
			</div>
			<button class="btn btn-default btn-custom btn-grouped-below"
					data-bind="click:$.proxy(add_image, $data)">
				<i class="fa fa-user icon"></i>
				Change Profile Picture
			</button>
		</div>
		<div class="col-md-9 info-col">
			<div class="username">
				<h1 class="username-value" 
					data-toggle="tooltip" data-placement="top" title="Double click to edit."
					data-bind="text:edit_name(),
							   visible:!edit_name_visible(),
							   event:{ dblclick:$.proxy(edit_name_visible, $data, true) }"></h1>
				<form class="form-inline form-inline-condensed form-overlay" role="form" 
					  data-bind="submit:$.proxy(change_username, $data), 
								 visible:edit_name_visible()">
					<div class="form-group">
						<label class="sr-only" for="update_username">Update Username</label>
						<input class="form-control input-custom username-input" id="update_username" 
							   type="text" placeholder="Enter name"
							   data-bind="value:edit_name, 
							   			  valueUpdate:'keyup', 
							   			  hasFocus:edit_name_visible()">
					</div>
				</form>
			</div>
			<h3 class="email" id="email" 
				data-toggle="tooltip" data-placement="bottom" title="Cannot change email."
				data-bind="text:user().email"></h3>

			<div class="row edit-buttons">
				<button class="btn btn-default btn-custom"
						data-bind="click:$.proxy(get_password, $data)">
					<i class="fa fa-key icon"></i>
					Change Password
				</button>
			</div>
		</div>
	</div>
</div>
</div>