<div class="row" data-bind="with:panel">
<div class="col-md-8">
	<h1 data-bind="text:game_name"></h1>
	<textarea rows="20" class="form-control" data-bind="value:game_state"></textarea>
	<button class="btn btn-success" data-bind="click:$.proxy(save_game, $data)">Save</button>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Players</h3>
	  </div>
	    <div class="list-group" data-bind="foreach:players">
		  <a href="#" class="list-group-item" data-bind="css:{active:$parent.selected_player() == $data},
		  												 click:$parent.selected_player">
		  	<i class="fa fa-lock pull-right" data-bind="visible:role == 'owner'"></i>
		  	<i class="fa fa-wrench pull-right" data-bind="visible:role == 'builder' || role == 'owner'"></i>
		  	<span data-bind="text:name"></span>
		  </a>
		</div>
	  <div class="panel-footer">
	  	<form class="form-inline" role="form" data-bind="submit:$.proxy(add_player,$data)">
			<div class="form-group">
				<label class="sr-only" for="name">Name</label>
				<input type="name" class="form-control" id="name" placeholder="Enter name" 
					   data-bind="value:user_lookup,
					   			  select2:{minimumInputLength: 1, query:$.proxy(lookup_user, $data)}">
			</div>
		  	<button class="btn btn-default" type="submit">Add</button>
		  	<button class="btn btn-danger pull-right" data-bind="visible:can_remove_player">Remove</button>
		</form>
	  </div>
	</div>
</div>
</div>