<div class="panel-heading panel-heading-custom">
</div>
<div class="panel-body panel-body-custom grid-container">
	<!-- ko if: selected_sheet -->
		<img id="sheet_image"
			 draggable="false"
			 data-bind="attr:{ src:selected_sheet().to_url() }">
		<img class="image-grid"
			 draggable="false"
			 data-bind="grid:{grid_size:editor.grid_size, 
			 				  dimensions:selected_sheet, 
			 				  scale:false}, 
						visible:show_sheetgrid()==true,
						drag_rect:$data">

		<!-- ko with: selected_sheet -->
			<!-- ko foreach: sprite_items -->
				<div class="spritesheet-item" data-bind="style:$data.to_style(),
														 click:$parents[1].active_sprite, 
														 css:{'selected':$parents[1].active_sprite() == $data}"></div>
			<!-- /ko -->
		<!-- /ko -->
	<!-- /ko -->
	<div class="placeholder-center" data-bind="visible:selected_sheet() == null">
		<div class="circle">
			<i class="fa fa-picture-o icon"></i>
		</div>
		<p class="note">You have no sheets added for this game.</p>
	</div>
</div>
<div class="panel-footer panel-footer-custom">
	<button class="btn btn-default pull-right btn-custom btn-custom-danger"
			data-bind="click:remove_sheet_item, enable:active_sprite">
		<i class="fa fa-trash-o icon"></i>
		Remove
	</button>
	<button class="btn btn-default pull-right btn-custom btn-left-set"
			data-bind="click:add_sheet_item, enable:selected_sprite">
		<i class="fa fa-pencil-square-o icon"></i>
		Add
	</button>
	<button class="btn btn-default pull-right btn-custom btn-left-set active" 
			id="show_sheetgrid_btn" data-bind="click:$.proxy(sheetgrid_show_hide, $data)">
		<i class="fa fa-th-large icon"></i>
		Grid
	</button>

	<div class="btn-group dropup">
		<button class="btn btn-default dropdown-toggle btn-custom btn-dropdown" type="button" data-toggle="dropdown">
			<i class="fa fa-archive icon"></i>
			<span class="sheetname" data-bind="text:selected_sheet()?selected_sheet().sheet:'sheets'"></span>
			<span class="caret"></span>
		</button>
		
		<ul class="dropdown-menu" role="menu">
			<li class="dropdown-header">Sprites</li>
			<!-- ko foreach: spritesheets -->
				<li><a class="sheetname" href="#" data-bind="text:$data.sheet, click:$.proxy($parent.set_sheet, $parent)"></a></li>
			<!-- /ko -->
			<li data-bind="visible:spritesheets().length==0"><p class="note">No spritesheets</p></li>
			<li class="dropdown-header">Tiles</li>
			<!-- ko foreach: tiles -->
				<li><a class="sheetname" href="#" data-bind="text:$data.sheet, click:$.proxy($parent.set_sheet, $parent)"></a></li>
			<!-- /ko -->
			<li data-bind="visible:tiles().length==0"><p class="note">No tiles</p></li>
		</ul>
	</div>
	<button class="btn btn-default btn-custom btn-add-sheet" data-bind="click:$.proxy(upload_sheet, $data)">
		<i class="fa fa-plus icon"></i>
	</button>

	<div class="clearfix"></div>
</div>