@import url("../lib/bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../lib/bower_components/bootstrap/dist/css/bootstrap-theme.css");
@import url("../lib/bower_components/bootstrap-notify/css/bootstrap-notify.css");
@import url("../lib/bower_components/select2/select2.css");
@import url("../lib/bower_components/font-awesome/css/font-awesome.css");
@import url("../fonts/blanch-font/stylesheet.css");


/* ================================= */
/* == Custom Button CSS ============ */
/* ================================= */
.btn-custom { 
	color: #F2F2F2;
	background-image: none;
	text-shadow: none;
	background-color: #265497;
	border: 2px solid #5099DC;

	padding: 5px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
} 
 
.btn-custom:hover { 
	color: #F2F2F2;
	background-image: none;
	background-color: #FB8C1F;
	border: 2px solid #FFC154;
}

.btn-custom:disabled { 
	color: #999;
	background-image: none;
	text-shadow: none;
}

.btn-custom-danger:hover { 
	color: #F2F2F2;
	background-image: none;
	background-color: #FF4C00;
	border: 2px solid #FF2300;
}

.btn-custom.active {
	color: #F2F2F2;
	background-image: none;
	background-color: #FB8C1F;
	border: 2px solid #FFC154;
}

.btn-custom-inactive { 
	color: #999;
	background-image: none;
	text-shadow: none;
	background-color: #F2F2F2;
	border-color: #ccc;
}

.btn-group .btn-custom.active {
	color: #F2F2F2;
	background-color: #FB8C1F;
	border: 2px solid #FFC154;
}

.btn-group .btn-custom { /* inactive */
	color: #F2F2F2;
	background-color: #265497;
	border: 2px solid #5099DC;
}

.btn-custom .icon {
	margin-right: 5px;
	font-size: 14px;
}

.btn-left-set {
	margin-right: 5px;	
}

.btn-right-set {
	margin-left: 5px;
}

.btn-set {
	margin: auto 5px;
}

.upload-radio {
	width: 100%;
}

.upload-radio .btn-custom {
	width: 50%;
	height: 100%;

	padding-top: 10px;
	padding-bottom: 10px;
}

.upload-radio .icon {
	margin: 0px;
	margin-left: 2px;
	margin-bottom: 3px;
	font-size: 30px;
}

.btn-input-attached {
	margin-left: -4px;
	border-radius: 0px;

	-webkit-border-top-right-radius: 	3px;
	-webkit-border-bottom-right-radius: 3px;
	   -moz-border-radius-topright: 	3px;
	   -moz-border-radius-bottomright: 	3px;
			border-top-right-radius: 	3px;
			border-bottom-right-radius: 3px;
}


/* ================================= */
/* == Custom Dropdown CSS ========== */
/* ================================= */
.dropup .dropdown-menu {
	max-width: 100px;
}

.dropup.open .btn-custom {
	color: #F2F2F2;
	background-color: #FB8C1F;
	border: 2px solid #FFC154;
}
.dropup .btn-custom {
	max-height: 28px;
	width: 135px;
	color: #F2F2F2;
	margin-right: 0px;
	border-radius: 0px;

	-webkit-border-top-left-radius: 	3px;
	-webkit-border-bottom-left-radius: 	3px;
	   -moz-border-radius-topleft: 		3px;
	   -moz-border-radius-bottomleft: 	3px;
			border-top-left-radius: 	3px;
			border-bottom-left-radius: 	3px;
}

.btn-dropdown-conatiner {
	width: auto;
	height: auto;
	padding: 3px 20px;
}

.btn-dropdown-conatiner .btn-custom {
	width: 100%;
	height: 100%;
}

.btn-group .btn-custom:hover { 
	color: #F2F2F2;
	background-image: none;
	background-color: #FB8C1F;
	border: 2px solid #FFC154;
}

.btn-add-sheet {
	margin-left: -4px;
	padding-left: 6px;
	padding-right: 6px;
	border-left: 0px;
	border-radius: 0px;

	-webkit-border-top-right-radius: 	3px;
	-webkit-border-bottom-right-radius: 3px;
	   -moz-border-radius-topright: 	3px;
	   -moz-border-radius-bottomright: 	3px;
			border-top-right-radius: 	3px;
			border-bottom-right-radius: 3px;
}

.btn-add-sheet:hover {
	border-left: 0px;
}

.btn-add-sheet .icon {
	margin: 0px;
}

.dropdown-menu li .note {
	padding: 3px 25px 3px 30px;
	color: #999;
	font-size: 11px;
}

.btn-dropdown .sheetname {
	max-width: 70%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu li a {
	overflow: hidden;
	text-overflow: ellipsis;
}


/* ================================= */
/* == Custom File Input CSS ======== */
/* ================================= */
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file.btn-custom {
	padding: 8px 15px;
	height: 34px;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.input-group .file-input {
	border-radius: 3px;
}

.form-horizontal .form-group {
	margin: auto;
}


/* ================================= */
/* == Custom Input CSS  ============ */
/* ================================= */
.form-group .input-custom {
	color: black;
    padding: 4px 15px;
    height: 100%;
    line-height: normal;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.form-inline.form-inline-condensed {
	display: inline-block;
}

.input-grouped .input-custom {
    margin-right: 0px;
    border-right: 0px;
	border-radius: 0px;

	-webkit-border-top-left-radius: 	3px;
	-webkit-border-bottom-left-radius: 	3px;
	   -moz-border-radius-topleft: 		3px;
	   -moz-border-radius-bottomleft: 	3px;
			border-top-left-radius: 	3px;
			border-bottom-left-radius: 	3px;
}


/* ================================= */
/* == Custom Panel CSS ============= */
/* ================================= */
.panel.panel-default {
	border: 0px;
}

.panel-default .panel-heading-custom {
	border-bottom: 0px;
	color: #F2F2F2;

	background: -webkit-linear-gradient(#555, #222);
	background:    -moz-linear-gradient(#555, #222);
	background:       o-linear-gradient(#555, #222);
	background:         linear-gradient(#555, #222);
}

.panel-heading-custom .icon {
	margin-right: 1em;
}

.panel-default .panel-footer-custom {
	border-top: 0px;
	height: 49px;
	color: #F2F2F2;

	background: -webkit-linear-gradient(#555, #222);
	background:    -moz-linear-gradient(#555, #222);
	background:       o-linear-gradient(#555, #222);
	background:         linear-gradient(#555, #222);
}

.panel-center-custom {
	max-width: 500px;
	padding: 15px;
}

.panel-body-custom {
	position: relative;
	padding: 0px;
	width: 100%;
	height: 550px;
	border: 1px solid #555;
	background-color: #eee;
}

.grid-container {
	background-color: transparent;
	position: relative;
	padding: 0px;
	width: 100%;
	height: 550px;
	overflow: auto;
}

.grid-container img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.panel-body-custom .list-group-item {
	border-radius: 0px;
}

.panel-body-custom .list-group-item-custom:hover {
	background-color: #def3ff;
}

.panel-body-custom textarea {
	width: 100%;
	height:100%;
	border: 0px;
	border-radius: 0px;
}

.placeholder-center {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.placeholder-center .circle {
	display: block;
	margin: auto;
	margin-top: 25%;

	width: 150px;
	height: 150px;
	background-color: #F2F2F2;

  	box-shadow: 0px 0px 20px rgba(3,3,3,0.2);

	-webkit-border-radius: 75px;
	   -moz-border-radius: 75px;
			border-radius: 75px;
}

.placeholder-center .icon {
	margin-top: 35px;
	font-size: 80px;

	background-color: #C2C2C2;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
	-webkit-background-clip: text;
	   -moz-background-clip: text;
			background-clip: text;
}

.placeholder-center .note {
	display: block;
	margin: auto;
	width: 200px;
	font-weight: bold;
	color: #C2C2C2;
}


/* ================================= */
/* == Custom Modal CSS ============= */
/* ================================= */
.modal-content .modal-header-custom {
	font-size: 11px;
	color: #F2F2F2;

	background: -webkit-linear-gradient(#555, #222);
	background:    -moz-linear-gradient(#555, #222);
	background:       o-linear-gradient(#555, #222);
	background:         linear-gradient(#555, #222);

	border-radius: 0px;
	-webkit-border-top-left-radius:  3px;
	-webkit-border-top-right-radius: 3px;
	   -moz-border-radius-topleft: 	 3px;
	   -moz-border-radius-topright:  3px;
			border-top-left-radius:  3px;
			border-top-right-radius: 3px;
}

.modal-content .modal-body-custom {
	padding: 20px;
}

.modal-content .modal-footer-custom {
	margin-top: 0px;
	padding: 10px;

	background: -webkit-linear-gradient(#555, #222);
	background:    -moz-linear-gradient(#555, #222);
	background:       o-linear-gradient(#555, #222);
	background:         linear-gradient(#555, #222);

	border-radius: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius:  3px;
       -moz-border-radius-bottomright:  3px;
       -moz-border-radius-bottomleft:   3px;
    		border-bottom-right-radius: 3px;
    		border-bottom-left-radius:  3px;
}

.modal-header-custom .modal-close {
	color: #F2F2F2;
}

.modal-header-custom .modal-title {
	font-size: 16px;
}


/* ================================= */
/* == Custom Tab CSS =============== */
/* ================================= */
@media (min-width: 768px) {
	.nav-tabs-custom.nav-justified li.active a, 
	.nav-tabs-custom.nav-justified li.active a:hover, 
	.nav-tabs-custom.nav-justified li.active a:focus {
		border-radius: 0px;
		-webkit-border-top-left-radius:  3px;
		-webkit-border-top-right-radius: 3px;
		   -moz-border-radius-topleft: 	 3px;
		   -moz-border-radius-topright:  3px;
				border-top-left-radius:  3px;
				border-top-right-radius: 3px;
	}

	.tab-panel-custom .panel-heading-custom {
		-webkit-border-top-left-radius:  0px;
		-webkit-border-top-right-radius: 0px;
		   -moz-border-radius-topleft:   0px;
		   -moz-border-radius-topright:  0px;
				border-top-left-radius:  0px;
				border-top-right-radius: 0px;

		border-top: 0px;
	}

	.nav-tabs-custom.nav-justified li a {
		border-radius: 0px;
		-webkit-border-top-left-radius:  3px;
		-webkit-border-top-right-radius: 3px;
		   -moz-border-radius-topleft: 	 3px;
		   -moz-border-radius-topright:  3px;
				border-top-left-radius:  3px;
				border-top-right-radius: 3px;
	}
}

.nav-tabs-custom.nav-justified li a {
	font-size: 13px;
	padding: 6px 20px;

	color: #F2F2F2;
	background-image: none;
	background-color: #265497;

	border: 2px solid #5099DC;
}

/* active tab color */
.nav-tabs-custom.nav-justified li.active a, 
.nav-tabs-custom.nav-justified li.active a:hover, 
.nav-tabs-custom.nav-justified li.active a:focus {
	color: #F2F2F2;

	background: -webkit-linear-gradient(#555, #333);
	background:    -moz-linear-gradient(#555, #333);
	background:       o-linear-gradient(#555, #333);
	background:         linear-gradient(#555, #333);

	border: 2px solid #333;
}

/* hover tab color */
.nav-tabs-custom.nav-justified li a:hover {
	color: #F2F2F2;
	background-image: none;
	background-color: #FB8C1F;

	border: 2px solid #FFC154;
}

/* tab content */
.tab-panel-custom .panel-heading-custom {
	background: -webkit-linear-gradient(#333, #222);
	background:    -moz-linear-gradient(#333, #222);
	background:       o-linear-gradient(#333, #222);
	background:         linear-gradient(#333, #222);
}

.tab-panel-custom {
	border-color: #333;
	border-top: 0px;

	-webkit-border-top-left-radius:  0px;
	-webkit-border-top-right-radius: 0px;
	   -moz-border-radius-topleft:   0px;
	   -moz-border-radius-topright:  0px;
			border-top-left-radius:  0px;
			border-top-right-radius: 0px;
}

.tab-panel-custom .item-name {
	margin: 0px 5px;
}

.nav-tabs-custom .icon {
	margin-right: 8px;
}

.tab-panel-custom .list-group-item .align-right {
	float: right;
	position: relative;
	bottom: 4px;
}


/* ================================= */
/* == Editor Bar CSS =============== */
/* ================================= */
.editor-bar {
	margin: -20px 0px 10px 0px;
	padding: 6px 10px;
	color: #F2F2F2;

	background: -webkit-linear-gradient(#555, #222);
	background:    -moz-linear-gradient(#555, #222);
	background:       o-linear-gradient(#555, #222);
	background:         linear-gradient(#555, #222);

	border-radius: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius:  3px;
       -moz-border-radius-bottomright:  3px;
       -moz-border-radius-bottomleft:   3px;
    		border-bottom-right-radius: 3px;
    		border-bottom-left-radius:  3px;
}

.editor-bar .icon {
	font-size: 13px;
}

.editor-bar .btn-custom {
	vertical-align: baseline;
	margin: 0px 3px 0px 3px;
	padding: 3px 15px;
}

.editor-bar .input-custom {
	width: 70px;
	padding: 3px 15px 3px 5px;
}

.editor-bar .label-custom {
	margin-right: 5px;
	margin-left: 10px;
	font-weight: normal;
}

.editor-bar form {
	padding-left: 30px;
	display: inline;
}

.editor-bar .editor-bar-title {
	font-family: "blanchcaps", arial;
	vertical-align: bottom;
	font-size: 25px;
	display: inline;
	font-weight: bold;
	color: #FB8C1F;
	margin-right: 20px;
}

.pull-right .btn-custom {
	vertical-align: baseline;
}

.editor-bar .align-right {
	float: right;
	position: relative;
	top: 2px;
}


/* ================================= */
/* == Main CSS Stuff =============== */
/* ================================= */
html,body {
	background-color: #F2F2F2;
	height: 100%;
}

.logo-banner {
	margin-top: 30px;
}

.navbar-brand .icon {
	display: inline;
	height: 100%;
}

.navbar-inverse .navbar-brand {
	padding: 5px;
	height: 50px;
  	font-family: "blanchcaps", arial;
  	font-size: 45px;
  	color: #FB8C1F;
}

.navbar {
  	box-shadow: 0px 3px 5px #888888;
}

.container-fluid {
	height: auto;
}

.note {
	padding: 15px;
}

.list-group .sortable-item {
	cursor: move;
}


/* ================================= */
/* == About Page =================== */
/* ================================= */
.about-panel {
	height: auto;
}

.about-page-title {
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.about-page-subtitle {
	font-size: 30px;
	text-align: center;
}

.about-page-content {
	height: 100%;
	margin-top: 30px;
	padding: 50px 0px;
	position: relative;
	margin-right: -30px;
	left: -15px;
	color: #F2F2F2;

	background: -webkit-linear-gradient(#333, #222);
	background:    -moz-linear-gradient(#333, #222);
	background:       o-linear-gradient(#333, #222);
	background:         linear-gradient(#333, #222);
}

.about-cols {
	text-align: center;
	margin: 0px;
}

.about-cols .icon {
	font-size: 100px;

	background-color: #FB8C1F;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
	-webkit-background-clip: text;
	   -moz-background-clip: text;
			background-clip: text;
}

.about-cols .circle {
	padding-top: 20px;
	background-color: #F2F2F2;
	width: 150px;
	height: 150px;

  	box-shadow: 0px 0px 20px rgba(251,140,31,1);

	-webkit-border-radius: 75px;
	   -moz-border-radius: 75px;
			border-radius: 75px;
}

.about-item {
	padding: 15px 60px;
	font-size: 15px;
}


/* ================================= */
/* == Connection Indicators ======== */
/* ================================= */
.connect {
	color: #4CBB17;
	text-shadow: 0px 0px 20px #4CBB17;
}
.disconnect {
	color: #FF4C00;
	text-shadow: 0px 0px 20px #FF4C00;
}
.reconnect {
	color: #FB8C1F;
	text-shadow: 0px 0px 20px #FB8C1F;
}

.connect-text{
	margin-left: 0.5em;
	font-size: 0.5em;
}


/* ================================= */
/* == Bootstrap Notify ============= */
/* ================================= */
.notifications {
	z-index: 1040;
}

.notifications .alert{
	padding: 10px;
}
.notifications .alert a{
	position: relative;
	top: -2px;
  	margin-left: 8px;
}


/* ================================= */
/* == Other Lib Stuff ============== */
/* ================================= */
.user_lookup{
	width:180px;
}

#cr-stage {
	text-align: center;
}

