@import url("../lib/bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../lib/bower_components/bootstrap/dist/css/bootstrap-theme.css");
@import url("../lib/bower_components/bootstrap-notify/css/bootstrap-notify.css");
@import url("../lib/bower_components/select2/select2.css");
@import url("../lib/bower_components/font-awesome/css/font-awesome.css");
@import url("../fonts/blanch-font/stylesheet.css");

html,body {
	/*font-family: "blanchcaps", arial;*/
	background-color: #565764;
}

.connect{color: green;}
.disconnect{color: red;}
.reconnect{color: orange;}

.connect-text{
	margin-left: 0.5em;
	font-size: 0.5em;
}

/*
.navbar-container{
	font-family: "blanchcaps_light", arial;
	font-size: 1.5em;
}

.navbar-brand{
	font-size: 1.5em;
}
*/

.notifications {
  z-index: 1040;
}

.notifications .alert{
  padding: 10px;
}
.notifications .alert a{
	position: relative;
	top: -2px;
  	margin-left: 8px;
}

.user_lookup{
	width:180px;
}

/* tab color */
.nav-tabs li a {
  background-color: #EAEAEA; 
  border-color: #D3D3D3;
  color:#D5D5D5;
}

/* hover tab color */
.nav-tabs li a:hover {
	color:#B5B5B5;
}

/* tab content */
.tab-panel{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	border-top: 0px;
}

#cr-stage {
	text-align: center;
}