@import url("../fonts/blanch-font/stylesheet.css");
@import url("../lib/bower_components/font-awesome/css/font-awesome.css");

/* ================================= */
/* == Custom Button CSS ============ */
/* ================================= */
.btn-custom { 
  color: #F2F2F2; 
  background-color: #265497;
  border: 2px solid #5099DC;
  border-radius: 0px;
} 
 
.btn-custom:hover { 
  color: #F2F2F2;
  background-color: #FB8C1F;
  border: 2px solid #FFC154;
}

/* ================================= */
/* == Main CSS Stuff =============== */
/* ================================= */
html,body {
  background-color: #F2F2F2;
  height: 100%;
}

.navbar-brand .icon {
  display: inline;
  height: 100%;
}

.navbar-inverse .navbar-brand {
  padding: 5px;
  height: 50px;
  font-family: "blanchcaps", arial;
  font-size: 45px;
  color: #FB8C1F;
}

.navbar {
    box-shadow: 0px 3px 5px #888888;
}

.container-fluid {
  height: auto;
}

.alert{
  margin-top: 1em;
  border-radius: 3px;
}

/* ================================= */
/* == Signin Form ================== */
/* ================================= */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  color: black;
  margin-bottom: -1px;
  border-radius: 0px;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
     -moz-border-radius-topleft: 3px;
     -moz-border-radius-topright: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
}

.form-signin input[type="password"] {
  color: black;
  margin-bottom: 10px;
  border-radius: 0px;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
     -moz-border-radius-bottomright: 3px;
     -moz-border-radius-bottomleft: 3px;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
}

.form-signin .rg-btn{
  width: 50%;
  border-right: 1px solid #5099DC;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-signin .si-btn{
  width: 50%;
  border-left: 1px solid #5099DC;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* ================================= */
/* == Signin Header ================ */
/* ================================= */
.signin-heading{
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.heading-image {
  position: relative;
  left: -10px;
}

.signin-subtitle {
  font-weight: bold;
  text-align: center;
  font-size: 21px;
}

.signin-subtitle-2 {
  text-align: center;
  font-size: 18px;
}


/* ================================= */
/* == Signin Content =============== */
/* ================================= */

.signin-content {
  padding-top: 30px;
  color: #F2F2F2;

  background: -webkit-linear-gradient(#333, #222);
  background:    -moz-linear-gradient(#333, #222);
  background:       o-linear-gradient(#333, #222);
  background:         linear-gradient(#333, #222);
}

.signin-footer {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.about-cols {
  text-align: center;
  margin: 0px;
  margin: 20px 0px;
}

.about-cols .icon {
  font-size: 25px;

  background-color: #FB8C1F;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
      background-clip: text;
}

.about-cols .circle {
  padding-top: 12px;
  background-color: #F2F2F2;
  width: 50px;
  height: 50px;

  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

.about-item {
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

